.progress-indicators {
  font-size: 13;
  min-width: 200px;
  padding: 10px;
  background-color: rgba(250, 250, 250, 0.75);
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.progress-indicators-container {
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
} 

.progress-indicator {
  width: 100%;
    display:flex;
  flex-direction: row;
  justify-content: space-between;
}